html,body {
  margin: 0;
}

.full-screen-video-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.full-screen-video-container video {
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen-video-content {
  z-index: 1;
  position: absolute;
  bottom:auto;
  width: min(1000px, 25000%);
}

.all-content {
  z-index: 1;
  position: relative;
  padding: 50px;
  height: 700px;
  width: 500px;
  top: auto;
  bottom: 10px;
  left: 10px;
  right: 10px;
}


  .btn0{
    z-index: 2;
    position: absolute;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bolder;
    color: #1c1c1c;
    text-decoration:none;
    top: 53px;
}

@media (max-width: 1000px) {
  .btn0 {
    font-size: 53px;
  }

}

  .btn1{
    z-index: 2;
    position: absolute;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration:none;
    top:150px;
}

@media (max-width: 1000px) {
  .btn1 {
    font-size: 130px;
    top: 220px;
  }

}

  .btn1:hover{
    color: #eb4034;
    transition: .5s;

  }

  .btn2{
    z-index: 2;
    position: absolute;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration:none;
    top:205px;
  }

  @media (max-width: 1000px) {
    .btn2 {
      font-size: 130px;
      top: 330px;
    }

  }

  .btn2:hover{
    color: #eb4034;
    transition: .5s;
  }

  .btn3{
    z-index: 2;
    position: absolute;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration:none;
    top:260px;
    background-color: transparent;
    border: none;
    left: 42px;
    outline:none;
  }

  @media (max-width: 1000px) {
    .btn3 {
      font-size: 130px;
      top: 440px;
    }

  }

  .btn3:hover{
    color: #eb4034;
    transition: .5s;
  }



  .btn4{
    z-index: 2;
    position: absolute;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bolder;
    color: WHITE;
    text-decoration:none;
    top:315px;
  }

  .btn4:hover{
    color: #eb4034;
    transition: .5s;
  }






  .main {
    z-index: 2;
    position: absolute;
    top: 26px;
    font-size: .32em;
    font-family: sans-serif;
    color: #1c1c1c;
    font-weight: bolder;
  }

  @media (max-width: 1000px) {
    .main {
      font-size: 17px;
      top: 50px;
    }

  }

  .black {
    z-index: 1;
    padding: 10px;
    position: absolute;
    background-color: #eb4034;
    width: 420px;
    height: 20px;
    left: -10px;
  }

  @media (max-width: 1000px) {
    .black {
      width: 610px;
      height: 70px;
    }

  }

  .black2 {
    z-index: 1;
    padding: 10px;
    position: absolute;
    background-color: #eb4034;
    width: 420px;
    height: 20px;
    left: -10px;
    top: 66px;
  }

  @media (max-width: 1000px) {
    .black2 {
      width: 610px;
      height: 70px;
    }

  }

.TelegramButtonAppeared {

  z-index: 2;
  position: absolute;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration:none;
  bottom: 10px;
  left: 50px;

}

.TelegramBack{
  z-index: 10;
  padding: 10px;
  position: absolute;
  background-color: #0088cc;
  width: 420px;
  height: 40px;
  left: -10px;
  top: 360px;
}

@media (max-width: 1000px) {
  .TelegramBack {
    width: 630px;
    height: 35px;
    top: 600px;
  }

}



.VKBack{
  z-index: 10;
  padding: 10px;
  position: absolute;
  background-color: #2787F5;
  width: 420px;
  height: 40px;
  left: -10px;
  top: 430px;
  transition: .6;
}

@media (max-width: 1000px) {
  .VKBack {
    width: 630px;
    height: 35px;
    top: 670px;
  }

}

.VkAppeared {

  z-index: 10;
  position: absolute;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration:none;
  bottom: 10px;
  left: 50px;
  transition: .6;
}
