#videoBG {
  position: relative;
  bottom: 10px;
  z-index: -1;
}

@media (min-aspect-ratio:16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (min-aspect-ratio:16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
